/* === MainScroll === */


/* ширина прокрутки */
.mainScroll::-webkit-scrollbar 
{
  border: none;
  width: 5px;
  height: 10px;
}
 
/* цвет заднего фона прокрутки */ 
.mainScroll::-webkit-scrollbar-track
{
  border: none;
  border-radius: 2px;
  background-color: #6c6c6c;
}
 
/* цвет бегунка в поле */ 
.mainScroll::-webkit-scrollbar-thumb 
{
  border: none;
  border-radius: 2px;
  width: 0px;
  background-color: #a8a6a6;
}
/* =============== */



/* ширина прокрутки */
.scroll_historyCreateClrs::-webkit-scrollbar 
{
  border: none;
  width: 0px;
  height: 10px;
}
 
/* цвет заднего фона прокрутки */ 
.scroll_historyCreateClrs::-webkit-scrollbar-track
{
  border: none;
  border-radius: 2px;
  background-color: #6c6c6c;
}
 
/* цвет бегунка в поле */ 
.scroll_historyCreateClrs::-webkit-scrollbar-thumb 
{
  border: none;
  border-radius: 2px;
  width: 0px;
  background-color: #a8a6a6;
}
/* =============== */